.ir-arriba {
  display:none;
  padding:5px 10px;
  background:#fff;
  font-size:30px;
  color:#024959;
  cursor:pointer;
  position:fixed;
  bottom:20px;
  right:20px;
}

form input {
  margin:10px 0px;
}

